/* Loader */
.spinner-container {
	width: 100%;
	height: 100%;
	z-index: 99999;
	text-align: center;
  }
  .spinner {
	margin: auto;
	border: 2px solid #dbf2ff; 
	/*
	change to dotted for something cool.
	change width to 1px for tapered bar
	*/
	width: 32px;
	height: 32px;
	display: inline-block;
	position: absolute;
	top: 45%;
	border-radius: 50%;
	border-right: 2px solid #018df7;
	text-align:center;
	animation-name: spin;
	animation-duration: 900ms;
	animation-iteration-count: infinite;
	/*animation-timing-function: linear; /*linear spin */
	animation-timing-function: cubic-bezier(0.53, 0.21, 0.29, 0.67);
  }
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	/*50% {width:24px;height:24px} /*shrinking effect*/
	100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
	0% { -webkit-transform: rotate(0deg);}
   /*50% {width:24px;height:24px} /*shrinking effect*/
	100% { -webkit-transform: rotate(360deg); }
  }
  

/* Login */

.background{
	background-color: #caf0f8;
}

.login {
  width: 100vw;
  height: 100vh;
}

.login-container {
  background-color: white;
  min-width: 300px;
  width: 300px;
  padding: 0 20px;
  padding-top: 15px;
  padding-bottom: 30px;
  border-radius: 10px;
  -webkit-box-shadow: -1px 2px 20px -4px rgba(97, 97, 97, 0.89);
  box-shadow: -1px 2px 20px -4px rgba(97, 97, 97, 0.89);
}

.form-group label{
	color:rgba(97, 97, 97, 0.89);
	font-size: 15px;
}

.github-button {
	background-color: black;
	color: white;
}
.github-button svg{
	width: 10%;
	margin-right: 5px;
}
.redirect a{ 
	text-decoration: none;
    color: inherit;
}

.Box {
    background-color: var(--color-canvas-default);
    border-color: var(--color-border-default);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
}

.pinned-item-list-item-content {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.wb-break-word {
    word-break: break-word !important;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
}

.text-bold {
    font-weight: 600 !important;
}
.mr-1 {
    margin-right: 4px !important;
}

a {
    color: var(--color-accent-fg);
    text-decoration: none;
}

.Label--secondary {
    color: var(--color-fg-muted);
    border-color: var(--color-border-default);
}

.Label--inline {
    display: inline;
    padding: 0.12em 0.5em;
    font-size: 85%;
}
.label, .Label {
    display: inline-block;
    padding: 0 7px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 2em;
    border-color: var(--color-border-default);
}

.repo-language-color {
	position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
	margin-right: 2px;
    border: 1px solid var(--color-primer-border-contrast);
    border-radius: 50%;
	background-color: #b07219;
}

.gutter-condensed>[class*=col-] {
    padding-right: 8px !important;
    padding-left: 8px !important;
}

.flex-content-stretch {
    align-content: stretch !important;
}

.width-full {
    width: 100% !important;
}
